<?xml version="1.0" encoding="UTF-8" ?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee"  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"   id="WebApp_ID" version="5.0">
	<display-name>jspbook</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
	
	
	<!-- 
	<error-page>
		<error-code>404</error-code>
		<location>/chapter11/errcode_404.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/chapter11/errcode_500.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/chapter11/exceptiontype_error.jsp</location>
		
	</error-page>
	 -->
	
	<!-- 어떤 그룹의? :보안적용 그룹 지정 -->
	
	<security-role>
	
	<!-- 누구를? -->
	
		<role-name>manager</role-name>
	</security-role>
	
	<!-- 어떤 URL을 검사할것인지 지정(검사대상) -->
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>JSPBook</web-resource-name>
			<url-pattern>/10-3</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>manager</role-name>
		</auth-constraint>
	</security-constraint>
	 
	 <!--  누구인지 검사 방법 지정 -->
	 
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/chapter10/login.jsp</form-login-page>
			<form-error-page>/chapter10/login_failed.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<filter>
		<filter-name>Filter01</filter-name>
		<filter-class>chapter12.filter.authenfilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter01</filter-name>
		<url-pattern>/12-1</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>filter02</filter-name>
		<filter-class>chapter12.filter.initparamfilter</filter-class>
		<init-param>
			<param-name>param1</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param>
			<param-name>param2</param-name>
			<param-value>1234</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>filter02</filter-name>
		<url-pattern>/12-2</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>filter02_2</filter-name>
		<filter-class>chapter12.filter.logfilefilter</filter-class>
			<init-param>
				<param-name>filename</param-name>
				<param-value>d:\\JJM\\jsp\\monitor.log</param-value>
			</init-param>
	</filter>
	<filter-mapping>
		<filter-name>filter02_2</filter-name>
		<url-pattern>/12-3</url-pattern>
		
	</filter-mapping>
	
  
</web-app>